html {
    height: 100% !important;
    margin: 0 !important;
}

body {
    min-height: 100% !important;
    margin: 0 !important;
    position: relative;
}

$primary: #007bff !important;

%changeBorders {
    border-color: $primary;
}


.navbar, .btn-primary, #navbarNav, .footer, #footerDiv {
    @extend %changeBorders;
    background-color: $primary;
}

.border-primary {
    @extend %changeBorders;
}

.footer {
    background-color: #f5f5f5;
    position: absolute !important; 
    bottom: 0 !important;
    width: 100% !important;
    max-height: 60px !important;
    overflow: hidden;

    .container {
        background-color: #f5f5f5;
    }

    @media (max-width: 575.98px) {
        text-align: center;
    }

}

#siteBrand {
    color: white;
}